* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #eef7f5;
	--text-color: whitesmoke;
	--big-font-color: #073342;
	--big-font: 5rem;
}

body {
	background: url("img/bg1.jpg") center/cover fixed no-repeat;
	color: var(--big-font-color);
	letter-spacing: 2px;
}

/* HEADER */

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	background: #fbf5f288;
	backdrop-filter: blur(10px);
	-webkit-box-shadow: 0px 2px 17px 0px rgba(31, 31, 31, 0.31);
	-moz-box-shadow: 0px 2px 17px 0px rgba(31, 31, 31, 0.31);
	box-shadow: 0px 2px 17px 0px rgba(31, 31, 31, 0.31);
	transition: all.45s;
}

.logo img {
	width: 12rem;
}

.navlist {
	display: flex;
	padding-right: 1rem;
}

.navlist a {
	color: var(--big-font-color);
	margin-left: 3rem;
	transition: all 0.45s ease;
	font-weight: 600;
	text-transform: uppercase;
}

.navlist a:hover {
	color: #268f9c;
	text-shadow: var(--text-shadow);
}

#menu-icon {
	font-size: 25px;
	color: var(--text-color);
	z-index: 1000;
	display: none;
}

/* HOME SECTION */

.home {
	height: 100vh;
	width: 100%;
	padding: 5.5rem 2rem;
}

.home-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--big-font-color);
}

.home-content img {
	width: 500px;
	border-radius: 50%;
	border: 50px solid #073342;
}

.text {
	text-align: end;
}

.text span {
	font-weight: 600;
	font-size: 1.5rem;
}

.home-content h1 {
	font-size: var(--big-font);
}

.home-content h3 {
	font-size: 2.8rem;
	margin-bottom: 1.5rem;
}

.button {
	text-transform: uppercase;
	background: #00ac89;
	background: linear-gradient(
		45deg,
		rgba(0, 80, 79, 1) 30%,
		rgba(0, 172, 137, 1) 100%
	);
	padding: 15px 30px;
	display: inline-block;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 13px -7px #000000,
		5px 5px 15px 1px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 1px rgba(0, 0, 0, 0);
}

.button a {
	color: rgb(255, 255, 255);
	font-weight: 600;
	transition: all 0.45s ease;
}

.button a:hover {
	letter-spacing: 3px;
}

/* Projects */
.projects {
	padding-bottom: 4rem;
}
.projects-title {
	text-align: center;
	margin: 3rem;
	font-size: 4rem;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.project-img img {
	width: 500px;
}

.project-img {
	padding-bottom: 4rem;
}

.project-details {
	text-align: center;
	padding-bottom: 0.5rem;
	text-decoration: underline;
}

.project-links {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 20px;
}

.project-links a {
	font-size: 1.3rem;
	color: var(--text-color);
	background-color: #00425e;
	border-radius: 5px;
	padding: 5px 15px;
	-webkit-box-shadow: 0px 10px 13px -7px #000000,
		5px 5px 15px 1px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 1px rgba(0, 0, 0, 0);
	transition: all 0.45s ease;
}

.project-links a:hover {
	color: var(--big-font-color);
	background: #fbf5f2;
}

/* about section */
.about {
	padding-bottom: 4rem;
}

.about-title {
	text-align: center;
	margin: 3rem;
	font-size: 4rem;
}

.about-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 2rem;
}

.about img {
	width: 400px;
	border-radius: 50%;
	border: 30px solid #073342;
}

.about-text {
	width: 500px;
	line-height: 1.6;
	font-size: 18px;
}

/* contact section */
.contact {
	padding-bottom: 4rem;
}

.contact-title {
	text-align: center;
	margin: 3rem;
	font-size: 4rem;
}

.contact-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-form iframe {
	background-color: #8fccb2;
	border-radius: 5px;
}

/* .contact iframe{
	padding: 2rem;
} */
